In [2]:
import pandas as pd
import numpy as np
import os
import glob

In [3]:
df = pd.read_excel(r"G:\MJI\SKZ\Script\From RAJ\CMIP6_grid_dharla_river.xlsx")

In [6]:
df.head()

   ID  Longitude  Latitude
0   1     88.625    26.625
1   2     88.625    26.875
2   3     88.625    27.125
3   4     88.625    27.375
4   5     88.875    26.125

In [7]:
roi_dict = {}

for id, lon, lat in zip(df['ID'], df['Longitude'], df['Latitude']):
    point_dict = {}
    
    point_dict['Lon'] = lon
    point_dict['Lat'] = lat

    roi_dict[id] = point_dict

In [8]:
roi_dict

{1: {'Lon': 88.625, 'Lat': 26.625},
 2: {'Lon': 88.625, 'Lat': 26.875},
 3: {'Lon': 88.625, 'Lat': 27.125},
 4: {'Lon': 88.625, 'Lat': 27.375},
 5: {'Lon': 88.875, 'Lat': 26.125},
 6: {'Lon': 88.875, 'Lat': 26.375},
 7: {'Lon': 88.875, 'Lat': 26.625},
 8: {'Lon': 88.875, 'Lat': 26.875},
 9: {'Lon': 88.875, 'Lat': 27.125},
 10: {'Lon': 88.875, 'Lat': 27.375},
 11: {'Lon': 89.125, 'Lat': 25.875},
 12: {'Lon': 89.125, 'Lat': 26.125},
 13: {'Lon': 89.125, 'Lat': 26.375},
 14: {'Lon': 89.125, 'Lat': 26.625},
 15: {'Lon': 89.125, 'Lat': 26.875},
 16: {'Lon': 89.125, 'Lat': 27.125},
 17: {'Lon': 89.125, 'Lat': 27.375},
 18: {'Lon': 89.375, 'Lat': 25.875},
 19: {'Lon': 89.375, 'Lat': 26.125},
 20: {'Lon': 89.375, 'Lat': 26.375},
 21: {'Lon': 89.375, 'Lat': 26.625},
 22: {'Lon': 89.375, 'Lat': 26.875},
 23: {'Lon': 89.625, 'Lat': 25.875},
 24: {'Lon': 89.625, 'Lat': 26.125},
 25: {'Lon': 89.875, 'Lat': 25.875}}

In [9]:
data_df = pd.read_csv(r"G:\MJI\SKZ\Script\From RAJ\PrecipData.csv")

In [10]:
data_df

,date,"('88.625', '26.625')","('88.625', '26.875')","('88.625', '27.125')","('88.625', '27.375')","('88.875', '26.125')","('88.875', '26.375')","('88.875', '26.625')","('88.875', '26.875')","('88.875', '27.125')",...,"('89.375', '25.875')","('89.375', '26.125')","('89.375', '26.375')","('89.375', '26.625')","('89.375', '26.875')","('89.625', '25.875')","('89.625', '26.125')","('89.875', '25.875')",model,projection
0,1951-01-01,1.39,1.88,2.23,3.13,0.0,0.34,0.8,1.31,0.0,...,0.0,0.0,0.0,0.14,0.0,0.0,0.0,0.0,ACCESS-CM2,historical
1,1951-01-02,0.00,0.00,0.00,0.00,0.0,0.00,0.0,0.00,0.0,...,0.0,0.0,0.0,0.00,0.0,0.0,0.0,0.0,ACCESS-CM2,historical
2,1951-01-03,0.00,0.00,0.00,0.00,0.0,0.00,0.0,0.00,0.0,...,0.0,0.0,0.0,0.00,0.0,0.0,0.0,0.0,ACCESS-CM2,historical
3,1951-01-04,0.00,0.00,0.00,0.00,0.0,0.00,0.0,0.00,0.0,...,0.0,0.0,0.0,0.00,0.0,0.0,0.0,0.0,ACCESS-CM2,historical
4,1951-01-05,0.17,0.61,1.32,2.60,0.0,0.00,0.0,0.30,0.0,...,0.0,0.0,0.0,0.00,0.0,0.0,0.0,0.0,ACCESS-CM2,historical
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1120221,2100-12-27,0.00,0.00,0.00,0.00,0.0,0.00,0.0,0.00,0.0,...,0.0,0.0,0.0,0.00,0.0,0.0,0.0,0.0,NorESM2-MM,ssp585
1120222,2100-12-28,0.00,0.00,0.00,0.00,0.0,0.00,0.0,0.00,0.0,...,0.0,0.0,0.0,0.00,0.0,0.0,0.0,0.0,NorESM2-MM,ssp585
1120223,2100-12-29,0.00,0.00,0.00,0.00,0.0,0.00,0.0,0.00,0.0,...,0.0,0.0,0.0,0.00,0.0,0.0,0.0,0.0,NorESM2-MM,ssp585
1120224,2100-12-30,0.00,0.00,0.00,0.00,0.0,0.00,0.0,0.00,0.0,...,0.0,0.0,0.0,0.00,0.0,0.0,0.0,0.0,NorESM2-MM,ssp585
1120225,2100-12-31,0.00,0.00,0.00,0.00,0.0,0.00,0.0,0.00,0.0,...,0.0,0.0,0.0,0.00,0.0,0.0,0.0,0.0,NorESM2-MM,ssp585

In [11]:
set(data_df['model'])

{'ACCESS-CM2',
 'ACCESS-ESM1-5',
 'BCC-CSM2-MR',
 'CanESM5',
 'EC-Earth3',
 'EC-Earth3-Veg',
 'INM-CM4-8',
 'INM-CM5-0',
 'MPI-ESM1-2-HR',
 'MPI-ESM1-2-LR',
 'MRI-ESM2-0',
 'NorESM2-LM',
 'NorESM2-MM'}

In [12]:
set(data_df['projection'])

{'historical', 'ssp245', 'ssp585'}

In [13]:
loc_list = []

for k in roi_dict.keys():
    loc_text = "('{}', '{}')".format(roi_dict[k]['Lon'], roi_dict[k]['Lat'])
    loc_list.append(loc_text)

In [14]:
len(loc_list)

25

In [15]:
roi_dict = {}
points_list = []

for id, lon, lat in zip(df['ID'], df['Longitude'], df['Latitude']):
    point_dict = {}
    
    point_dict['Lon'] = lon
    point_dict['Lat'] = lat
    loc_text = "('{}', '{}')".format(lon, lat)

    points_list.append(loc_text)
    roi_dict[id] = point_dict

In [16]:
points_list

["('88.625', '26.625')",
 "('88.625', '26.875')",
 "('88.625', '27.125')",
 "('88.625', '27.375')",
 "('88.875', '26.125')",
 "('88.875', '26.375')",
 "('88.875', '26.625')",
 "('88.875', '26.875')",
 "('88.875', '27.125')",
 "('88.875', '27.375')",
 "('89.125', '25.875')",
 "('89.125', '26.125')",
 "('89.125', '26.375')",
 "('89.125', '26.625')",
 "('89.125', '26.875')",
 "('89.125', '27.125')",
 "('89.125', '27.375')",
 "('89.375', '25.875')",
 "('89.375', '26.125')",
 "('89.375', '26.375')",
 "('89.375', '26.625')",
 "('89.375', '26.875')",
 "('89.625', '25.875')",
 "('89.625', '26.125')",
 "('89.875', '25.875')"]

In [17]:
col_list = list(data_df.columns)

In [52]:
data_df.iloc[:, 1]

0          1.39
1          0.00
2          0.00
3          0.00
4          0.17
           ...
1120221    0.00
1120222    0.00
1120223    0.00
1120224    0.00
1120225    0.00
Name: ('88.625', '26.625'), Length: 1120226, dtype: float64

In [61]:
data_df.iloc[:, 1].name

"('88.625', '26.625')"

In [68]:
float(eval(data_df.iloc[:, 1].name)[0])

88.625

In [67]:
float(eval(data_df.iloc[:, 1].name)[1])

26.625

In [69]:
data_df.iloc[:, 1][0]

1.39

In [51]:
len(data_df.iloc[:, 1])

1120226

In [1]:
import pandas as pd
import numpy as np
import os
import glob

data_df = pd.read_csv(r"G:\MJI\SKZ\Script\From RAJ\PrecipData.csv")

# Iterating through each scenario and creating scenario-specific dataframe
for scenario in set(data_df['projection']):
    try:
        os.makedirs(f'Output/{scenario}')

    except:
        pass
    
    scenario_df = data_df[data_df['projection'] == scenario]

    
    # Iterating through each model and creating model-specific dataframe
    for model in set(scenario_df['model']):
        try:
            os.makedirs(f'Output/{scenario}/{model}')

        except:
            pass
        
        model_df = scenario_df[scenario_df['model'] == model]
        selected_model_df = model_df.iloc[:, :-2]

        # Defining the grid points file and generating the input file
        precip_file = open(f'Output/{scenario}/{model}/pcp.txt', 'a')
        precip_file.write('ID,NAME,LAT,LONG,ELEVATION' + '\n')

        
        # Iterating through each grid point and creating input file from each point
        for i in range(1, selected_model_df.shape[1]):

            file_name = open(f'Output/{scenario}/{model}/pcp{i}.txt', 'a')

            point_series = selected_model_df.iloc[:, i]
            
            first_date = (selected_model_df.iloc[0,0]).replace('-', '')   ## yyyymmdd
            file_name.write(first_date + '\n')
            
            for r in range(0, len(point_series)):
                file_name.write(str(point_series.iloc[r]) + '\n')

            # Updating the point location the grid file
            LAT = float(eval(point_series.name)[1])
            LONG = float(eval(point_series.name)[0])
            NAME = f'pcp{i}'
            
            precip_file.write(f'{i},{NAME},{LAT},{LONG},0.00\n')

C:\Users\mji.IWMDC0\AppData\Local\Temp\ipykernel_10752\2899933739.py:1: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd