In [2]:
import pandas as pd
import numpy as np
from simpledbf import Dbf5
import os
import glob


# Defining a blank dataframe to store the zone wise paramter value at different scenario
com_df = pd.DataFrame()

# Iterating through all different model folders
for folder in glob.glob(r'E:\Script\Reading_dbf_file_Trial\Bangladesh\**'):
    
    # Splitting the folder path to get the model name
    folder_path_list = folder.split(os.sep)
    model_name = folder_path_list[-1]
    
    # Defining a blank dataframe to store the individual model information
    m_df = pd.DataFrame()
    
    # Iterating through all the scenario folder of a specific model
    for scenario_folder in glob.glob(r'E:\Script\Reading_dbf_file_Trial\Bangladesh\{}\**'.format(model_name)):
        
        # Defining a blank dataframe to store the information of that partcular scenario
        s_df = pd.DataFrame()
        
        # Splitting the scenario folder path to get the scenario name
        scenario_path_list = scenario_folder.split(os.sep)
        scenario = scenario_path_list[-1]
    
        # Iterating through all the different parameter file to get the parameter wise information
        for file in glob.glob(r'E:\Script\Reading_dbf_file_Trial\Bangladesh\{}\{}\*.dbf'.format(model_name,scenario)):

            # Spliting the file path to get the parameter name, region and timespan information
            file_path_list = file.split(os.sep)
            file_name_list = file_path_list[-1].split('_')
            
            # Setting the parameter name
            item_type = file_name_list[0]
            
            # Setting the region name
            region = file_name_list[-1][:-4]
            
            # Setting the timespan
            timespan_type = file_name_list[-2]
            
            # Reading the database file using 'Dbf5' method of 'simpledbf' package
            dbf = Dbf5(file)              

            # Converting the database file to pandas dataframe
            df = dbf.to_dataframe()
            
            # Calculating the average of particular region from all the grid points data
            # And creating dataframe wth calculated region average value
            avg = df.iloc[:,2:].mean()
            avg_df = pd.DataFrame({item_type:avg})
            
            # Transposing the row and column of the average dataframe, resetting the index and renaming it as 'Parameter' column
            avg_trans_df = avg_df.T
            avg_trans_df.reset_index(inplace=True)
            avg_trans_df.rename(columns = {'index':'Parameter'},inplace=True)
            
            # Inserting three columns of scenario, timespan and region name in the dataframe at index 0,1 and 3 respectively
            avg_trans_df.insert(loc = 0, column = 'Scenario', value = scenario)
            avg_trans_df.insert(loc = 1, column = 'Time-span', value = timespan_type)
            avg_trans_df.insert(loc = 3, column = 'Region', value = region)
            
            # Updating the region average parameter information in the scenario dataframe
            s_df = pd.concat([s_df,avg_trans_df])
        
        # Updating the each scenario information into the model dataframe
        m_df = pd.concat([m_df,s_df])
    
    # Saving individual model inforamtion combined dataframe in the model folder
    m_df.to_excel(r'E:\Script\Reading_dbf_file_Trial\Bangladesh\{n}\{n}.xlsx'.format(n=model_name), index=False,
                 float_format ='%.2f')
    
    # Inserting a model name column at the start of the model dataframe
    m_df.insert(loc = 0, column = 'Model', value = model_name)
    
    # Updating the individual model information into the combined dataframe(com_df)
    com_df = pd.concat([com_df,m_df])

# Saving the combined dataframe
com_df.to_excel(r'E:\Script\Reading_dbf_file_Trial\Summary\All_Model_Combined.xlsx', index=False, float_format ='%.2f')

# Grouping the combined dataframe by ('Scenario','Parameter','Region') to get the summary information
item_grp = com_df.groupby(['Scenario','Parameter','Region'])


# Iterating through each scenario, parameter and Region to get specific information
for snrio in com_df['Scenario'].unique():
    
    for parm in com_df['Parameter'].unique():
        
        # Definig a blank dataframe to store parameter wise data
        p_avg_df = pd.DataFrame()
        
        for rgn in com_df['Region'].unique():
            
            # Getting individual secenario, parameter and region wise data from the group data
            item_df = item_grp.get_group((snrio,parm,rgn))
            
            # Subpressing the pandas 'SettingWithCopyWarning' Warning
            with pd.option_context('mode.chained_assignment', None):
                item_df.sort_values(by='Time-span', ascending=False, inplace=True)
            
            # Calculating wise mean by group the data timespan wise (shot, mid, long term)
            time_grp_df = item_df.groupby('Time-span',sort=False).mean()
            
            # Resetting the index column and inserting the region column at index '0'
            time_grp_df.reset_index(inplace=True)
            time_grp_df.insert(loc = 0, column = 'Region', value = rgn)
            
            # Updating the region wise data to the parameter dataframe
            p_avg_df = pd.concat([p_avg_df, time_grp_df])
            
            # Saving the region wise individual model scenario data
            item_df.to_excel(r'E:\Script\Reading_dbf_file_Trial\Summary\ZS_wise_all_model\{}_{}_{}.xlsx'.format(snrio,parm,rgn),
                            index=None, float_format ='%.2f')
        
        # Saving the scenario specific zone-wise average parameter data
        p_avg_df.to_excel(r'E:\Script\Reading_dbf_file_Trial\Summary\ZP_wise_avg\{}_{}_Avg.xlsx'.format(snrio,parm),
                         index=None, float_format ='%.2f')

In [3]:
p_avg_df

,Region,Time-span,Jan,Feb,Mar,Apr,May,Jun,Jul,Aug,Sep,Oct,Nov,Dec
0,EH,short,14.985673,16.779214,20.552962,23.575820,25.201265,26.383693,26.078253,25.796179,25.445615,23.886044,20.866234,16.735384
1,EH,mid,16.021973,17.684982,21.337556,24.066059,25.684017,26.942682,26.602941,26.250321,25.954810,24.410835,21.590832,17.614056
2,EH,long,18.892436,20.526212,23.398100,25.675276,27.484404,28.667616,28.052720,27.665317,27.393219,26.038988,23.503003,20.264067
0,NC,short,13.463025,15.415655,19.660029,23.753841,25.990968,27.085339,26.719043,26.449524,25.956990,23.657043,19.432863,14.902999
1,NC,mid,14.505291,16.373652,20.490253,24.337643,26.441724,27.539595,27.168398,26.812741,26.429040,24.268902,20.271427,15.810268
2,NC,long,17.447287,19.279966,22.972710,26.166931,27.902539,28.996433,28.411000,27.955770,27.666208,25.952940,22.621387,18.774913
0,NE,short,12.911574,14.827400,18.893710,22.636329,24.873837,26.238048,26.144479,25.981817,25.367821,22.747120,18.639396,14.362434
1,NE,mid,13.951897,15.745958,19.652462,23.200202,25.371803,26.686495,26.581698,26.379944,25.891021,23.364363,19.418484,15.270792
2,NE,long,16.717684,18.468995,21.970866,25.077470,26.841752,28.011596,27.733883,27.479653,27.156459,25.204508,21.625007,17.973820
0,NW,short,12.591121,14.632306,18.829129,23.107656,25.714855,27.045358,26.762776,26.514850,25.850713,23.051002,18.637762,14.190967
1,NW,mid,13.719973,15.649208,19.648570,23.706724,26.191322,27.476572,27.207867,26.909075,26.377743,23.719666,19.516132,15.168104
2,NW,long,16.761378,18.491694,22.093432,25.678935,27.632762,28.794340,28.420331,28.037205,27.666173,25.580616,21.880199,18.111685
0,SC,short,13.838550,15.852464,20.339032,24.259568,26.082795,27.047555,26.642964,26.303860,25.970776,24.211699,20.175017,15.432960
1,SC,mid,14.891339,16.898300,21.300184,24.854506,26.505179,27.503331,27.111208,26.690829,26.434770,24.835849,21.113155,16.399271
2,SC,long,18.106377,20.171314,23.890852,26.457668,27.981959,28.970237,28.378253,27.898315,27.685858,26.440031,23.635943,19.587369
0,SE,short,13.840898,15.867975,20.257656,23.999604,25.788551,26.866470,26.489790,26.188326,25.819442,23.975609,20.056496,15.435925
1,SE,mid,14.867581,16.829757,21.119735,24.541775,26.226474,27.390188,26.983241,26.579254,26.282152,24.542188,20.902723,16.344699
2,SE,long,17.908490,19.910100,23.520770,26.171565,27.902595,29.073292,28.365373,27.890613,27.624116,26.120441,23.222750,19.317181
0,SW,short,13.752953,15.874236,20.519464,24.665547,26.581665,27.449092,26.949022,26.561909,26.176407,24.245261,19.973098,15.238282
1,SW,mid,14.840447,16.951898,21.467313,25.248174,26.980225,27.867038,27.383599,26.919311,26.622755,24.880414,20.924322,16.210792
2,SW,long,18.028111,20.154593,24.047288,26.834815,28.296884,29.207812,28.613005,28.064072,27.824235,26.488555,23.478433,19.373544