In [1]:
import mikeio
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import os
import glob
from datetime import datetime, timedelta
from calendar import monthrange

In [2]:
df = pd.read_excel(r"G:\MJI\BWDB_Tidal (104 nos.)\Output\Daily_Avg\SW1 (Bagerhat)_Daily_Avg.xlsx")

In [3]:
df

           Date  Water Level  Modified   Modified_Filled  Modified_Cyclone
0    1996-01-01        0.585      0.309            0.309             0.309
1    1996-01-02        0.580      0.304            0.304             0.304
2    1996-01-03        0.610      0.334            0.334             0.334
3    1996-01-04        0.710      0.434            0.434             0.434
4    1996-01-05        0.490      0.214            0.214             0.214
...         ...          ...        ...              ...               ...
9857 2022-12-27        0.770      0.494            0.494             0.494
9858 2022-12-28        0.680      0.404            0.404             0.404
9859 2022-12-29        0.655      0.379            0.379             0.379
9860 2022-12-30        0.635      0.359            0.359             0.359
9861 2022-12-31        0.585      0.309            0.309             0.309

[9862 rows x 5 columns]

In [5]:
df['Modified_Cyclone'].mean()

0.5739571790969051

In [6]:
len('_Daily_Avg.xlsx')

15

# BWDB Tidal WL Station Mean WL

In [10]:
import mikeio
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import os
import glob
from datetime import datetime, timedelta
from calendar import monthrange

mean_wl_df = pd.DataFrame()

for file in glob.glob(r"G:\MJI\BWDB_Tidal (104 nos.)\Output\Daily_Avg\*.xlsx"):
    
    path_list = file.split(os.sep)
    
    df = pd.read_excel(file)
    
    m_wl = df['Modified_Cyclone'].mean()
    
    sm_df = pd.DataFrame({'Station_ID': [path_list[-1][:-15]], 'Mean WL (mMSL)': [m_wl]})
    
    mean_wl_df = pd.concat([mean_wl_df, sm_df])

In [11]:
mean_wl_df

                         Station_ID  Mean WL (mMSL)
0                    SW1 (Bagerhat)        0.573957
0                SW102 (Bhatiapara)        1.623192
0   SW105 (Off Take at Atharobanka)        0.650905
0                  SW107 (Pirojpur)        0.079548
0                 SW107A (Nazirpur)        0.665317
..                              ...             ...
0                     SW9 (Kaoraid)        3.128236
0              SW93.4L ((Bhagyakul)        2.849112
0                    SW93.5L (Mawa)        2.599475
0                    SW94 (Tarpasa)        2.412007
0                   SW95 (Sureswar)        1.420569

[104 rows x 2 columns]

In [14]:
mean_wl_df.to_excel(r'G:\MJI\BWDB_Tidal (104 nos.)\Output\BWDB_Stations_Mean_WL_from_Daily_Avg.xlsx', 
                    float_format="%.3f", index= False)

# BIWTA Tidal WL Station Mean WL

In [16]:
import mikeio
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import os
import glob
from datetime import datetime, timedelta
from calendar import monthrange

mean_wl_df = pd.DataFrame()

for file in glob.glob(r"G:\MJI\BIWTA_Tidal (40 nos.)\Output\Daily_Avg\*.xlsx"):
    
    path_list = file.split(os.sep)
    
    df = pd.read_excel(file)
    
    m_wl = df['Modified_Cyclone'].mean()
    
    sm_df = pd.DataFrame({'Station_ID': [path_list[-1][:-15]], 'Mean WL (mMSL)': [m_wl]})
    
    mean_wl_df = pd.concat([mean_wl_df, sm_df])

    
mean_wl_df.to_excel(r'G:\MJI\BIWTA_Tidal (40 nos.)\Output\BIWTA_Stations_Mean_WL_from_Daily_Avg.xlsx', 
                    float_format="%.3f", index= False)